name: build bioschemas jsonld from galaxy files

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build-bioschemas-from-galaxy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          path: content

      - uses: actions/checkout@v4
        with:
          repository: research-software-ecosystem/utils
          path: utils

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r ${{ github.workspace }}/utils/bioschemas-gen/requirements.txt

      - name: publish galaxy data as bioschemas files
        run: |
          cd ${{ github.workspace }}/utils/bioschemas-gen
          python galaxy_to_bioschemas.py

      - name: commit all changes
        env:
          GITHUB_USER: ${{ secrets.GITHUB_USER }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd ${{ github.workspace }}/content/data
          git config --local user.email "tpe-bot@github.com"
          git config --local user.name "Tools Platform Ecosystem bot"
          git add -A
          if git commit -m "build bioschemas on $(date)"; then
              git push origin HEAD
              echo "successfully created new data"
          else
              echo "nothing new to add, exiting"            
          fi
